@model FilRouge.Model.Models.QuestionModel


<h3> id: @Html.DisplayFor(modelItem => modelItem.QuestionId)</h3>
<h3> content: @Html.DisplayFor(modelItem => modelItem.Content)</h3>

Vue partielle questionnaire
@ViewBag.test


