
    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm|md|lg|-xl navbar-dark|light" style="background-color: #312121;color:rgb(241, 239, 238)">
      <div class="navbar-brand">
        FilRouge - M2I
        <!-- <img src="../assets/Images/FilRouge.png" class="img-fluid rounded-circle|" alt="" id"nav-image"> -->
      </div>
        <ul class="navbar nav" id="navbar-content">
          <li class="nav-item ">Passage du quizz</li>
          <li class="nav-item">{{ today | date:'dd-MM-yyyy' }}</li>
        </ul>
        
    </nav>

    <!-- Content -->
      <router-outlet>
        <!-- Contenue en fonction du routing -->
      </router-outlet>
    <!-- Content -->

    <!-- Footer -->
      <div class="card" style="background-color: #312121;color:rgb(241, 239, 238)">
        <div class="card-header">
            Contactez nous: n.fouque@outlook.fr <br>
            Made by David, Marc & Nicolas with Angular <br>
            Thanks for using this App
        </div>
      </div>
